

h1 {
    margin-left:auto;
    margin-right:auto;
    width: 750px;
    background: rgba(247, 131, 231, 0.5);
    text-align: center;
}

li {
    padding-bottom: 100px;
    margin-bottom: 30px;
    font-family: 'Courier New', Courier, monospace;
}

img {
    width: 10%;
    height: auto;
}

#site-info {
    float: left;
    background-color: white;
    margin: 20px;
    width: 400px;
    padding: 30px;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
}

.light-dark-mode-btn {
    float: left;
    bottom: 0;
    position: absolute;
}

.dark-mode {
    background-color: black !important;
    color: white !important; 
    border-color: black !important;
}

.float-child {
    width: 50%;
    float: left;
    padding: 20px;
    text-align: center;
}  

/*
height: 200px;
display: flex;
align-items: center;
justify-content: center;


text-align: center;
background: rgba(247, 131, 231, 0.5);
display: block;   
width: 50%;
*/